.button{
    border-radius: 4px;
    padding: 8px;
    margin: 3px;
    padding: 7px 13px;
    background-color: rgb(0, 136, 204);
    color: white;
    border: 1px solid rgb(0, 119, 179);
}

.summary-error-message{
    color: rgb(200, 0, 0);
}

.login-form{
    background-color: white;
    width: 350px;
    margin: 0 auto;
    border: 1px solid rgb(204, 204, 204);
    margin-top: 10px;
    box-shadow: rgb(204, 204, 204) 0px 0px 10px -1px;
    border-radius: 5px;
    text-align: center;
}

.login-form-header{
    text-align: left;
    padding: 1px 21px;
    background-color: rgb(224, 224, 224);
    border-radius: 5px 5px 0 0px;
}

.login-form-title{
    font-size: 15px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

.login-form-body{
    padding: 40px;
}

.login-form-buttons{    
    background-color: rgb(247, 247, 247);
    padding: 0px;
    margin: 0px;    
    border-radius: 0px 0px 5px 5px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.login-form-need-account{
    font-size: 11px;
}

.link{
    text-decoration: none;
    color: rgb(77, 136, 206);
}

.link:active{    
    text-decoration: none;
    color: rgb(77, 136, 206);
}

.login-form-body{
    text-align: left;
    padding: 40px 55px;
}

.text-box.single-line{
    width: 185px;
    height: 25px;
    margin: 7px 0px;
    border-radius: 3px;
    border: 1px solid rgb(204, 204, 204);
    padding-left: 50px;
}

.field-icon{
    cursor: default;
    font-style: normal;
    display: flex;
    width: 35px;
    height: 27px;
    background-color: rgb(238,238,238);    
    border-right: 1px solid rgb(204, 204, 204);
    border-radius: 3px 0 0 3px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    color: rgb(85,85,85);
    top: 8px;
    left: 1px;
    font-size: 13px;
}
.field-icon.email-icon{
    font-size: 16px;
}
.fied-input{
    position: relative;
}

.remember-input{
    display: flex;    
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.remember-label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin-left: 4px;
}

.email-icon{
    font-family: Arial;
}

.register-form .login-form-buttons{
    justify-content: space-around;
}

.register-form .login-form-body{
    padding-top: 30px;
    padding-bottom: 30px;
}
.form-extra-message{
    width: 330px;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
}

.have-account{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.user-menu{
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    list-style: none;
}

.user-menu .link{
    color: white;
}

.user-menu-title{
    cursor: pointer;    
    text-shadow: 1px 1px 5px black;
    position: relative;
}

.user-menu-title .down-menu{
    position: absolute;
    background-color: white;
    background: rgb(97,166,204); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(97,166,204,1) 0%, rgba(139,175,196,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(97,166,204,1) 0%,rgba(139,175,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(97,166,204, 1) 0%, rgba(139,175,196, .7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61a6cc', endColorstr='#8bafc4',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    width: 100%;
    transform: scaleY(0) translateY(-50%);
    list-style: none;
    padding: 5px;
    transition: all .2s;
    border: 1px solid rgba(97,166,204, .8);
    border-top: none;
    border-radius: 0px 0px 5px 5px;
    left: -2px;
    top: 27px;
}
.user-menu{
    height: 40px;
    margin-top: 0px;
    cursor: pointer;
}

.user-menu:hover .down-menu{    
    transform: scaleY(1) translateY(0);
}
.down-menu:hover{    
    transform: scaleY(1) translateY(0);
}
.down-menu-item{
    padding: 3px;
}
.down-menu-item .link{
    display: block;
    width: 100%;
    text-shadow: 1px 1px 1px black;
    height: 100%;
}
.down-menu-item:hover{
    background-color: rgba(0, 223, 254, .2);
}

.text-box.password{
    padding-right: 37px;
    width: 148px;
}

.see-password{
    font-size: 30px;
    left: auto;
    cursor: pointer;
    right: 3px;
    border: 0;
    background-color: transparent;
    top: 7px;
}