.ui-dialog{
    background: white;
    border-radius: 7px;
    box-shadow: rgba(0,0,0,1) 0 5px 20px -5px;
    padding: 10px 20px;
    position: absolute;
    /*left: calc(50% - 220px);
    top: calc(50% - 100px);*/
}
/*Widjet popup*/
.popup-back-layer{
    background-color: rgba(0,30,30,.3);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 50;
    top: 0;
    left: 0;
    transition: all .3s;
}

.popup-content{
    position: absolute;
    width: 460px;
    height: 140px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-content:space-between;
    top: calc(50% - 85px);
    left: calc(50% - 250px);
    z-index: 100;
    transition: all .3s;
    border-radius: 5px;
    padding: 15px 20px;
    border: 1px solid rgb(196,196,196);
    box-shadow: black 2px 2px 10px -3px;
}

.popup-header{
    border-bottom: 1px solid rgb(220, 220, 220);
    position: relative;
    padding: 5px 0px;
    flex: 0 21px;
}

.popup-header-close{
    position: absolute;
    right: 0;
    top: -5px;
    font-style: normal;
    font-weight: bold;
    font-size: 23px;
    color: rgb(196, 196, 196);
    cursor: pointer;
}

.popup-header-title{
    font-family: Arial;
    font-size: 18px;
}

.popup-body{
    padding: 10px 0;
    font-family: Arial;
    font-size: 14px;
    flex: 1;
}

.popup-buttons{
    text-align: center;
}

.visible{
    opacity: 1;
}

.popup-content.invisible,
.popup-back-layer.invisible{
    opacity: 0;
    z-index: -1;
    transform: scale(1);
}

.button{
    cursor: pointer;
}

.confirm-button{
    border: 1px solid rgb(0, 34, 51);
}

.cancel-button{
    background-color: rgb(254, 254, 254);
    border: 1px solid rgb(220, 220, 220);
    color: rgb(51, 51, 63);
}

/*END*/