html{
    height: 100%;
    overflow-y: scroll;
    overflow-x: auto;
}

body{
    margin: 0px;
    padding: 0px;
    background: rgb(97,166,204); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(97,166,204,1) 0%, rgba(139,175,196,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(97,166,204,1) 0%,rgba(139,175,196,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(97,166,204, .25) 0%, rgba(139,175,196, .1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#61a6cc', endColorstr='#8bafc4',GradientType=0 ); /* IE6-9 */
    background-repeat: no-repeat;
    height: 100%;
}

#application{
    height: 100%;
}

.ui-dialog{
    z-index: 80;
}

.validation-message{
    position: absolute;
    top: 2px;
    right: -216px;
    width: 200px;
    padding: 4px;
    background-color: rgb(255, 220, 200);
    box-shadow: rgba(255, 0, 0, 0.7) 0px 0px 8px 2px;
    transition: all .2s ease-in;
    color: red;
    font-size: 16px;
    opacity: 0;
    z-index: 1;
    transform: scale(0);
}

.error-input{
    box-shadow: red;
}

.visible{
    opacity: 1;    
    transform: scale(1);
}

.durandal-wrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header-title{
    color: #e2e2e2;
    margin: 0;
    vertical-align: middle;
    text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.header{
    flex: 0 40px;
	background: rgb(125,185,232); /* Old browsers */
	background: -moz-linear-gradient(top, rgb(125,185,232) 0%, rgb(49,127,155) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgb(125,185,232) 0%,rgb(49,127,155) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgb(125,185,232) 0%,rgb(49,127,155) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7db9e8', endColorstr='#317f9b',GradientType=0 ); /* IE6-9 */
}

.body-content{
    flex: 1;
}

.board{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.board-title{
    text-align: center;
    font-size: 30px;
    margin: 1%;
}

.board-body{
    background-color: #EEE;
    border: 1px solid rgba(0, 0, 0, .2);
    margin: 0 1%;
    padding: 1%;
    flex: 1;
    margin-bottom: 20px;
    overflow: auto;
    height: 0;
}

.board-body-item-add{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 20px;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 10px;
    font-size: 17px;
    box-shadow: black 0 0 8px -3px;
    cursor: pointer;
    font-family: time;
    transition: all .1s;
}

.board-body-item-add:hover{
    transform: scale(1.04);
}

.board-body-table{
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

.item-title-input{
    margin-left: 14px;
    transition: all .3s ease;
    background: transparent;
    width: auto;
    overflow: auto;
    border: none;
    cursor: text;
}

.item-title-value{    
    font-size: 1em;
    text-align: center;
    overflow: hidden;
    resize: inherit;
    font-family: time;
    color: rgba(0, 0, 105, .7);
}

.item-title{
    font-size: 1.7em;
    color: black;
}

.item-title-delete{
    position: absolute;
    left: 0;
    top: 0;
    font-style: normal;
    color: rgb(200, 0, 0);
    font-weight: bold;
    font-size: 21px;
    opacity: 0;
    transition: all .3s ease;
}

.item-title-delete:hover {    
    font-size: 25px;
    transform: scale(1.04);
}

.item-cell{
    text-align: center;
    border-top: 1px solid rgba(123, 123, 123, .3);
}
.table-head .cell-field{    
    font-size: 1.7em;
    color: black;
}
.table-body .cell-field{
    position: relative;
    font-size: 1.2em;
    min-width: 100px;
    color: rgba(0, 0, 105, .7);
}

.table-body .item-title:hover .item-title-delete{
    opacity: 1;
}

.cell-field{
    padding: 5px;
    transition: background-color 0.3s ease;
}

.cell-field:not(:last-child){
    border-right: 1px solid rgba(123, 123, 123, .3);
}

.table-body .cell-field:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 155, .05);
}