<div class="board">
    <h2 class="board__title" data-bind="text: title"></h2>
    <div class="board__body">
        <table class="board__body-table">
            <thead>
                <tr>
                    <td class="cell_field point__title">
                        <span>Title</span>
                    </td>
                    <td class="cell_field"></td>
                </tr>
            </thead>
            <tbody class="body__points" data-bind="foreach: points">
                <tr class="point__cell">
                    <td class="cell_field point__title noselect"> 
                        <div class="point__title_input point__title_value" contenteditable="true" data-bind="editableText: $root.setItemTitle"><!--ko text: title--><!--/ko--></div>
                        <i class="point__title_delete" data-bind="click: $root.deleteItem">✗</i>
                        <span class="point__title_validation-message validation-message" data-bind="css: {'visible':title.hasError}, text: title.validationMessage"></span>
                    </td>
                    <td class="cell_field"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>