<div class="board">
    <h2 class="board__title" data-bind="text: title"></h2>
    <div class="board__body">
        <table class="board__body-table">
            <thead>
                <tr>
                    <td class="cell_field point__title">
                        <span>Title</span>
                    </td>
                    <td class="cell_field"></td>
                </tr>
            </thead>
            <tbody class="body__points" data-bind="foreach: points">
                <tr class="point__cell">
                    <td class="cell_field point__title noselect" data-bind="dblclickEditTitle: $root.sendTitle">
                        <input class="point__title_input" type="text" required data-bind="value: title, valueUpdate: 'afterkeydown', visible: title.isMustBeEdit, css: {'error-input':title.hasError}" />
                        <span class="point__title_value" data-bind="text: title, visible: !title.isMustBeEdit()"></span>
                        <span class="point__title_validation-message validation-message" data-bind="visible: title.hasError, text: title.validationMessage"></span>
                    </td>
                    <td class="cell_field"></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>