<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Entities" connectionString="workstation id=easyplandata.mssql.somee.com;packet size=4096;user id=mestl_SQLLogin_1;pwd=8zqdxf8v5s;data source=easyplandata.mssql.somee.com;persist security info=False;initial catalog=easyplandata;" providerName="System.Data.EntityClient" />
    <!--<add name="Entities" connectionString="metadata=res://*/DatabaseModel.csdl|res://*/DatabaseModel.ssdl|res://*/DatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=EasyPlan.DataAccess.DatabaseContext;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  -->
  </connectionStrings>
</configuration>
<!--workstation id=easyplandata.mssql.somee.com;packet size=4096;user id=mestl_SQLLogin_1;pwd=8zqdxf8v5s;data source=easyplandata.mssql.somee.com;persist security info=False;initial catalog=easyplandata-->