<div class="board">
    <h2 class="board-title" data-bind="text: title"></h2>
    <div class="board-body">
        <button class="board-body-item-add" data-bind="click: $root.addItem">Add item</button>
        <table class="board-body-table">
            <thead class="table-head">
                <tr>
                    <td class="cell-field item-title">
                        <span>Title</span>
                    </td>
                    <!--ko foreach: criterions-->
                    <td class="cell-field item-criterion" data-bind="text: title"></td>
                    <!--/ko-->
                    <td class="cell-field item-score">Score</td>
                    <td class="cell-field item-rank">Rank</td>
                </tr>                
            </thead>
            <tbody class="table-body" data-bind="foreach: items">
                <tr class="item-cell">
                    <td class="cell-field item-title noselect"> 
                        <div class="item-title-input item-title-value" data-bind="editableText: {function: $root.updateItemTitle, value: title}"></div>
                        <i class="item-title-delete" title="Delete item" data-bind="click: $root.deleteItem">✗</i>
                        <span class="item-title-validation-message validation-message" data-bind="css: {'visible':title.hasError}, text: title.validationMessage"></span>
                    </td>                    
                    <!--ko foreach: marks-->
                    <td class="cell-field item-criterion">
                        <div class="item-mark-input" data-bind="editableText: {function: $root.setMark, value: value}, click: $root.selectValue"></div>
                        <span class="item-mark-validation-message validation-message" data-bind="css: {'visible':value.hasError}, text: value.validationMessage"></span>
                    </td>
                    <!--/ko-->
                    <td class="cell-field item-score" data-bind="text: score">0</td>
                    <td class="cell-field item-rank" data-bind="text: rank">0</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>