<div class="board">
    <h2 class="board-title" data-bind="text: board.title"></h2>
    <div class="board-body">        
        <div class="board-body-filter">
            <label for="board-filter">Filter: </label>
            <input id="board-filter" type="text" data-bind="value: filterValue, valueUpdate: 'afterkeydown', editableInput: {handler: applyFilter, value: filterValue}"/>
            <span class="board-filter-validation-message validation-message" data-bind="css: {'visible':filterValue.hasError}">
                <span class="validation-message-error" data-bind="text: filterValue.validationMessage"></span>
                <i class="validation-message-arrow"></i>
            </span>
        </div>
        <table class="board-body-table">
            <thead class="table-head">
                <tr>
                    <td rowspan="2" class="cell-field item-title">
                        <span>Title </span>
                        <button class="board-body-item-add" data-bind="click: addItem">⛨
                            <!--ko if: _.isEmpty(board.items()) -->
                            <span class="help-message">Click to add new item</span>
                            <!--/ko-->
                        </button>                        
                    </td>
                    <td class="cell-field item-criterion-type" data-bind="attr: {'colspan': benefitCriterions().length}">
                        <span>Benefit</span>
                        <button class="board-body-criterion-add" data-bind="click: addBenefitCriterion">⛨</button>
                    </td>
                    <td class="cell-field item-criterion-type" data-bind="attr: {'colspan': costCriterions().length}">
                        <span>Cost</span>
                        <button class="board-body-criterion-add" data-bind="click: addCostCriterion">⛨</button>
                    </td>
                    <td rowspan="3" class="cell-field item-score">Score</td>
                    <td rowspan="3" class="cell-field item-rank"><span class="item-rank-title" data-bind="click: sortByRank, css: {'sorted-ascending' : sortAscending && sorted, 'sorted-descending' : !sortAscending() && sorted}">Rank</span></td>
                </tr>
                <tr>
                    <!--ko foreach: benefitCriterions-->
                    <td class="cell-field board-criterion criterion-benefit">
                        <div class="criterion-title-input title-value" data-bind="editableText: {handler: $root.updateCriterionTitle, value: title}, selectTextOnFocus: true, hasFocus: true"></div>
                        <!--ko if: $root.benefitCriterions().length > 1-->
                        <i class="criterion-title-delete" title="Delete criterion" data-bind="click: $root.deleteCriterion">✗</i>
                        <!--/ko-->
                        <span class="criterion-title-validation-message validation-message" data-bind="css: {'visible':title.hasError}">
                            <span class="validation-message-error" data-bind="text: title.validationMessage"></span>
                            <i class="validation-message-arrow"></i>
                        </span>
                    </td>
                    <!--/ko-->
                    <!--ko foreach: costCriterions-->
                    <td class="cell-field board-criterion criterion-cost">
                        <div class="criterion-title-input title-value" data-bind="editableText: {handler: $root.updateCriterionTitle, value: title}, selectTextOnFocus: true, hasFocus: true"></div>
                        <!--ko if: $root.costCriterions().length > 1-->
                        <i class="criterion-title-delete" title="Delete criterion" data-bind="click: $root.deleteCriterion">✗</i>
                        <!--/ko-->
                        <span class="criterion-title-validation-message validation-message" data-bind="css: {'visible':title.hasError}">
                            <span class="validation-message-error" data-bind="text: title.validationMessage"></span>
                            <i class="validation-message-arrow"></i>
                        </span>
                    </td>
                    <!--/ko-->
                </tr>
                <tr>
                    <td class="cell-field item-criterion-weight-title"><span class="weight-title">Weight</span></td>
                    <!--ko foreach: benefitCriterions-->
                    <td class="cell-field item-criterion-benefit-value weight">
                        <input type="number" min="0" max="20" class="criterion-weight-input" data-bind="value: weight, valueUpdate: 'afterkeydown', editableInput: {handler: $root.setWeight, value: weight}, selectTextOnFocus: true" />
                        <span class="criterion-weight-validation-message validation-message" data-bind="css: {'visible': weight.hasError}">
                            <span class="validation-message-error" data-bind="text: weight.validationMessage"></span>
                            <i class="validation-message-arrow"></i>
                        </span>
                    </td>
                    <!--/ko-->
                    <!--ko foreach: costCriterions-->
                    <td class="cell-field item-criterion-cost-value weight">
                        <input type="number" min="0" max="20" class="criterion-weight-input" data-bind="value: weight, valueUpdate: 'afterkeydown', editableInput: {handler: $root.setWeight, value: weight}, selectTextOnFocus: true" />
                        <span class="criterion-weight-validation-message validation-message" data-bind="css: {'visible': weight.hasError}">
                            <span class="validation-message-error" data-bind="text: weight.validationMessage"></span>
                            <i class="validation-message-arrow"></i>
                        </span>
                    </td>
                    <!--/ko-->
                </tr>                
            </thead>
            <tbody class="table-body">  
                <!--ko if: _.isEmpty(board.items()) || !board.items.countVisible() -->
                <tr class="item-cell">
                    <td data-bind="attr: {'colspan' : columnCount}">
                        <span class="items-noitems-message" data-bind="visible: _.isEmpty(board.items())">No items!</span>
                        <span class="items-noitems-filter-message" data-bind="visible: !board.items.countVisible()">The appropriate result is not found for the value ​​in the filter!</span>
                    </td>
                </tr>
                <!--/ko-->
                <!--ko foreach: board.items-->
                <tr class="item-cell" data-bind="visible: visible">
                    <td class="cell-field item-title noselect"> 
                        <div class="item-title-input title-value" data-bind="editableText: {handler: $root.updateItemTitle, value: title}, selectTextOnFocus: true, hasFocus: true"></div>
                        <i class="item-title-delete" title="Delete item" data-bind="click: $root.deleteItem">✗</i>
                        <span class="item-title-validation-message validation-message" data-bind="css: {'visible':title.hasError}">
                            <span class="validation-message-error" data-bind="text: title.validationMessage"></span>
                            <i class="validation-message-arrow"></i>
                        </span>
                    </td>                                        
                    <!--ko foreach: $root.benefitCriterions-->
                    <td class="cell-field item-mark" data-bind="with: $parent.marks[id]">
                        <input type="number" min="0" max="5" class="item-mark-input" data-bind="value: value, valueUpdate: 'afterkeydown', editableInput: {handler: $root.setMark, value: value}, selectTextOnFocus: true" />
                        <span class="item-mark-validation-message validation-message" data-bind="css: {'visible':value.hasError}">
                            <span class="validation-message-error" data-bind="text: value.validationMessage"></span>
                            <i class="validation-message-arrow"></i>
                        </span>
                    </td>
                    <!--/ko-->
                    <!--ko foreach: $root.costCriterions-->
                    <td class="cell-field item-mark" data-bind="with: $parent.marks[id]">
                        <input type="number" min="0" max="5" class="item-mark-input" data-bind="value: value, valueUpdate: 'afterkeydown', editableInput: {handler: $root.setMark, value: value}, selectTextOnFocus: true" />
                        <span class="item-mark-validation-message validation-message" data-bind="css: {'visible':value.hasError}">
                            <span class="validation-message-error" data-bind="text: value.validationMessage"></span>
                            <i class="validation-message-arrow"></i>
                        </span>
                    </td>
                    <!--/ko-->
                    <td class="cell-field item-score" data-bind="text: score">0</td>
                    <td class="cell-field item-rank" data-bind="text: rank">0</td>
                </tr>         
                <!--/ko-->
            </tbody>
        </table>
    </div>
</div>