<nav>
    <ul class="short-board-list">
       <!--ko foreach: user.boardsShortInfo-->
         <li class="short-board" data-bind="style: {'backgroundColor': '#' + $root.getBoardColor()}">
            <i class="short-board-delete" title="Delete board" data-bind="click: $root.removeBoard">✗</i>
            <a class="short-board-title" data-bind="attr: {href: '#board/' + id}, text: title"></a>
        </li>
        <!--/ko-->
        <li class="short-board">
            <button data-bind="click: createBoard">New board</button>
        </li>
    </ul>
</nav>