<header class="header">
    <h1 class="header__title">Easy Plan</h1>    
</header>
    <div class="body-content" data-bind="router: { transition:'entrance' }"></div>
<footer class="footer">
    <script id="confirmation-popup-template" type="text/x-handlebars-template">
        <div class="confirmation-popup">
            <h1 class="confirmation-popup-title">{{title}}</h1>
            <div class="confirmation-popup-body">
                {{body}}
            </div>
        </div>
    </script>
</footer>