@model IEnumerable<StudentViewModel>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Student list</title>
</head>
<body>
    <h1>Hello</h1>
    <div class="student-content"> 
        @foreach (var student in Model)
        {
            <div class="student">
                <label class="student-name">@student.Name</label>
                <label class="student-surname">@student.Surname</label>
                <label class="student-university">@student.University</label>
            </div>
        }
    </div>
</body>
</html>
