@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Test website</title>

    <script type="text/javascript" src="~/Scripts/underscore.js"></script>
    <script type="text/javascript" src="~/Scripts/q.js"></script>
    <meta charset="utf-8" />

    @Styles.Render("~/Content/css")

</head>
<body>
    <div id="applicationHost">
        @Html.Partial("_splash")
    </div>

    @Scripts.Render("~/Scripts/vendor")
    <script type="text/javascript" src="~/Scripts/require.js" data-main="/App/main"></script>
</body>
</html>
