@using System.Web.Optimization
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>EasyPlan</title>

    
    <meta charset="utf-8" />

    @Styles.Render("~/Content/css")

</head>
<body>

    <div class="spinner spinner-on">
        @Html.Partial("_splash")
    </div>

    <div id="application">
    </div>

    @Scripts.Render("~/Scripts/vendor")

    <script type="text/javascript" src="~/Scripts/require.js" data-main="/App/main"></script>
</body>
</html>
