@using System.Web.Optimization
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="block-window block-on">

</div>

<div class="spinner spinner-on">
    @Html.Partial("_splash")
</div>

<div id="application">
</div>

